@using System.Diagnostics

@{
    Layout = "_Layout";
    
    var Controls = ViewData["TabControl"]
                   as List<TabControlObject>;

    Debug.Assert(Controls != null, nameof(Controls) + " != null");
    if (Controls.FindAll(c => c.Selected).Count > 1)
    {
        throw new Exception("Cannot have 2 elements selected at the same time");
    }
}

<div class="headerLayout-wrap">
    <div class="headerLayout-content">
        <div class="headerLayout-info">
            <img class="headerLayout-info-img" src="">
            <h2 class="headerLayout-info-title"><b id="lvlName">@ViewData["Title"]</b> <span>•</span> @ViewData["SubSection"]</h2>
        </div>
        <div class="headerLayout-categories">
            @foreach (var control in Controls)
            {
                <div class="headerLayout-category-item @(control.Selected ? "headerLayout-selected" : "") @(control.Disabled ? "headerLayout-disabled" : "")">@control.String</div>
            }
        </div>
    </div>
    <div class="headerLayout-content" style="padding: 10px 15px">
        @RenderBody()
    </div>
</div>