@using System.Diagnostics
@using GDE.Web.Data.Projects

@{
    Layout = "_Layout";
    
    var Controls = ViewData["Breadcrumbs"]
                   as List<TabControlObject>;

    var project = ViewData["Project"]
                  as ProjectData;
    
    Debug.Assert(Controls != null, nameof(Controls) + " != null");
}

<div class="headerLayout-wrap">
    <div class="headerLayout-content">
        <div class="headerLayout-info">
            <img class="headerLayout-info-img" src="">
            <h2 class="headerLayout-info-title"><b id="lvlName">@ViewData["SubSection"]</b> <span>•</span> @ViewData["Title"]</h2>
        </div>
        <div class="headerLayout-categories">
            @foreach (var control in Controls)
            {
                <a href="@control.Url" class="category-breadcrumb-item">@control.String</a>
            }
            
            <div class="headerLayout-left-content">
                @if (!string.IsNullOrEmpty(project?.Github))
                {
                    <button onclick="window.location.href='@project.Github'" data-toggle="tooltip" title="View on github!" class="btn-big project_view-btn-big"><i class="fab fa-github"></i></button>
                }
                @if (!string.IsNullOrEmpty(project?.Site))
                {
                    <button onclick="window.location.href='@project.Site'" data-toggle="tooltip" title="View on the web!" class="btn-big project_view-btn-big"><i class="fas fa-globe"></i></button>
                }
                @if (!string.IsNullOrEmpty(project?.Discord))
                {
                    <button onclick="window.location.href='@project.Discord'" data-toggle="tooltip" title="Join the discord server!" class="btn-big project_view-btn-big"><i class="fab fa-discord"></i></button>
                }
            </div>
        </div>
    </div>
    <div class="headerLayout-content" style="padding: 10px 15px">
        @RenderBody()
    </div>
</div>