@page
@using GDE.Web.Entities
@using GDE.Web.Helpers
@model ProjectsModel

@{
    Layout = "ProjectViewBreadcrumbControl";

    var project = Model.Data.Single(d => d.ID.ToString() == HttpContext.Request.Query["id"].ToString());
    
    ViewData["SubSection"] = "community";
    ViewData["Title"] = "project";
    ViewData["ReturnPath"] = "/community/projects";
    ViewData["Project"] = project;
    
    ViewData["Breadcrumbs"] = new List<TabControlObject>
    {
        new TabControlObject("Index", ViewData["ReturnPath"].ToString()),
        new TabControlObject(project.Name, $"/community/project?id={project.ID}"),
    };
}

<link rel="stylesheet" href="~/css/Community/ProjectView.css">
<link rel="stylesheet" href="~/css/Community/Card.css">
<div class="project_view-container">
    <div class="project_view-background-container">
        <img class="project_view-background-image" src="@project.BackgroundURL"/>
        <div class="project_view-overlay"></div>
        <div class="project_view-background-content">
            <div class="projects_card_logo" style="width: 80px; height: 80px">
                <img class="projects_card_logo-image" src="@project.LogoURL">
            </div>
            <div class="project_view-time" data-toggle="tooltip" title="@DateTime.Now.ToLongDateString()">@DateTime.Now.ToShortDateString()</div>
            <div class="project_view-main">
                <div class="project_view_main-title">@project.Name</div>
                <div class="project_view_main-author">
                    @{
                        var authors = "";
    
                        project.Authors.ForEach(a => authors += a + " | ");
    
                        @Html.Raw(authors.Substring(0, authors.Length - 3))
                    }
                    <div class="projects_card_stats">
                        <div class="projects_card_language-icon-container">
                            <div class="projects_card_language-icon projects_card_language-icon--@project.LanguageAcronym"></div>
                        </div>
                        <div class="projects_card_language-message u-ellipsis-overflow">@project.MainLanguage</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Raw(Helper.ParseMarkdown(project.Description))
</div>